.cache/
*.class
/.classpath
dist
dist/*
.history
.history/
/.idea
/.idea_modules
/*.iml
.lib/
lib_managed/
*.log
logs
/out
/.project
project/boot/
project/plugins/project/
project/project
project/target
/RUNNING_PID
.scala_dependencies
/.settings
src_managed/
target
target/
tmp
.worksheet
